@media (max-width: 920px) {

   
}

@media (max-width: 767px) {
    .tab-head-box {
        padding: 18px;
    }
    .tab-head-box .left-site h2 {
        font-size: 20px;
    }

    .tab-head-box .left-right .submit-btn[type="submit"] {
        padding: 10px 20px;
        padding-top: 5px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-left: 20px;
    }

    .submit-btn[type="submit"], .submit-btn[type="submit"]:focus {
        background: #0074ff;
        color: #fff;
        cursor: pointer;
        min-width: 80px;
        position: relative;
        border-radius: 0;
        outline: 0;
        border: 1px solid #0074ff;
    }

}

@media (max-width: 320px) {
   
    .tab-head-box {
        padding: 10px;
    }

    .tab-head-box .left-site h2 {
        font-size: 20px;
    }

    .tab-head-box .left-right .submit-btn[type="submit"] {
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
    }
    
}